*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color: #878181;
}
nav{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-bar{
    padding: 10px;
    border-radius: 10px;
    background-color: #878181;
    color: white;
}
#nav-bar:hover{
    text-decoration: overline;
    font-size: 20px;
}
h2:hover{
    background: linear-gradient(red, blue);
    background-clip: text;
    color: transparent;
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
li{
    padding: 10px;
    border-radius: 10px;
    color: white;
    background-color: #878181;
}
li:hover{
    text-decoration: overline;
    font-size: 20px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background: linear-gradient(red, blue);
    background-clip: text;
    color: transparent;
}
main{
    height: calc(100vh - 160px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/recicla-sustentabilidade.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}
h1{
    color: #686464;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
    transition: 0.5s;
}
footer{
    background-color: #878181;
    color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}