* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header{
    background-color:#2e7d32;
}
nav{
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav-bar{
    padding: 8px 15px;
}
#logo{
    width: 100px;
}
ul{
    font-size: 18px;
    display: flex;
    list-style: none;
    gap: 25px;
}
li{
    padding: 8px 15px;
    border-radius: 8px;
    color: white;
    transition: 0.3s;
}
li:hover{
    background-color: #555;
    transform: scale(1.05);
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    background: linear-gradient(to right, #ff4b4b, #3b82f6);
    background-clip: text;
    color: transparent;
}
main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("../images/recicla-sustentabilidade.png");
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}
h1{
    color: #444;
    font-size: 90px;
    text-align: center;
    transition: 0.4s;
}
h1:hover{
    background: linear-gradient(to right, #ff4b4b, #3b82f6);
    background-clip: text;
    color: transparent;
    transform: scale(1.05);
}
footer{
    background-color:#2e7d32;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

@media (max-width: 700px) {
  nav {
    flex-direction: column;
    gap: 12px;
  }

  ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  h1 {
    font-size: 40px;
  }
}