* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1, label  {
    text-align: center;
    margin-bottom: 5px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

.prosseguir {
    display: block;
    width: 100%;
    margin-top: 20px;
}